.App {
  text-align: center;
  margin:0;
  padding:0;
  height:100%;
  position:relative;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 9em;
}

.App-footer {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .App-body {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
